.section {
  background: #fff;
  padding-bottom: 48px;
  padding-top: 96px;
  position: relative;
}
.section--dark {
  background-color: #202124;
  color: #fafafa;
}
.container {
  margin: 0 auto;
  max-width: 392px;
  overflow: hidden;
  padding: 0 16px;
  width: 100%;
}
@media screen and (min-width: 921px) {
  .container {
    max-width: 840px;
    padding: 0 40px;
  }
}
.container--hero {
  max-width: 1500px;
}
.section--dark h1 {
  color: #fff;
}
h1,
h2,
h3,
h4,
h5 {
  color: #202124;
  font-weight: 400;
  line-height: 1.2;
  margin: 0 0 8px;
}
.section--dark button {
  border: 1px solid #fff;
  color: #fff;
}
.container--jumbo {
  max-width: 1240px;
}
.header-logo {
  height: 60px;
  margin-bottom: 10px;
}
