@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", sans-serif;
}
* {
  background-repeat: no-repeat;
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  color: #202124;
  text-decoration: none;
}
p {
  margin: 0;
}
